global
    maxconn 4096
    daemon

defaults
    mode http
    timeout connect 500ms
    timeout client  1s
    timeout server  1s
    option httpchk GET /ready
    http-check expect status 200
    default-server init-addr last,libc,none

frontend http_front
    bind *:8080
    default_backend apis

backend apis
    balance roundrobin
    option httpchk GET /ready
    server api1 /sockets/api1.sock check
    server api2 /sockets/api2.sock check
